/* General */
body{
	font-family: 'Spectral', serif;
}
#top_10{
	margin-bottom:100px;
}

.hidden{
	display:none;
}

.clear_both{	
	clear:both;
}

.float_left{
	float:left;
}

.float_right{
	float:right;
}


/* Login/register screen */

.login_wrapper{ width:100%;margin: 20px 0px;}
.login_panel{ box-sizing:border-box; max-width:450px; margin:20px auto; border: 1px solid #ddd; border-radius:4px;box-shadow: 0 1px 1px rgba(0,0,0,.05);  }

.login_panel_head{ font-size: 14px; line-height: 1.42857143; padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px;color: #333; background-color: #f5f5f5; border-color: #ddd;}

.login_panel_head_title{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
	box-sizing: border-box;
}

.login_panel_body{ 
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	padding: 15px;
}

.login_group{margin-bottom:15px; }
input[disabled]{
	cursor: not-allowed!important;
	box-shadow:none;
	opacity:.65;
}
.login_control{
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login_control:focus{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.input_red_outliner{/*
	background-color: #ffd2d6;
	border-color:#a71010;
*/
	background-color: #f2dede;
	border-color: #ebccd1;
}

.login_checkbox a{
	position:relative;
	top:10px;
	text-decoration:none;
	font-size:1.3em;
}
.agreed_spacing{
	margin-bottom:7px;
	padding-left:2px;
	padding-top:5px;
}
.login_checkbox label{
	min-height: 20px;
	padding-left: 1px;
	margin-bottom: 10px;
	font-weight: 400;
	cursor: pointer;
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
}

.login_submit_button{
	box-sizing: border-box;
	width: 90%;
	cursor: pointer;
	display: block;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	margin:0px;
}

.register_button{
	margin-right:10px;
	float: right;
	border: 1px solid #2a5d84;
	padding: 10px;
	border-radius: .3em;
}
.warning_message{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	box-sizing: border-box;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	font-size: 14px;
	line-height: 1.42857143;
}



#accept_button, #accept_button_privacy{
	width:40%;
	max-width:250px;
	margin: 40px auto;
	text-align:center;
	cursor:pointer;
}

#username_exists{
	color: #ffa1a1;
	background-color: #ffeeef;
	position: relative;
	top: -15px;
	padding: 5px;
    padding-left: 5px;
	padding-left: 10px;
}

#email_exists{
	color: #ffa1a1;
	background-color: #ffeeef;
	position: relative;
	top: -15px;
	padding: 5px;
    padding-left: 5px;
	padding-left: 10px;
}
/* END OF Login/register screen */
/* User panel screen */
.big_contener{
	max-width:1100px;
	margin:0px auto;
}

.left_menu{
	width:33%;
	float:left;
	padding:5px 7px;
	background-color:#FFFFFF;
	max-width: 300px;
}

.menu_option{
	padding:8px 0px;
	margin:2px 0px;
	font-size:1.8em;
	background-color:#000000;
	color:#efefef;
	text-align:center;
	transition: margin-right .7s, box-shadow 0.5s;
	box-shadow: none;
}

.menu_option:hover{
	margin-right:15%;
	cursor:pointer;
	box-shadow: 0px 0px 17px black;
}

.right_contener{
	float:right;
	width: 71.5%;
	max-width:786px;
	margin-top:7px;
	
}

/* User panel screen  --- group choice */

.boxes_contener{
	width:90%;
	margin:5%;
	
}

.box_1, .box_2{
	float:left;
	width: calc(48% - 20px);
	margin:1%;
	padding:10px;
	text-align:center;
	font-size:2em;
	cursor:pointer;
	transition: background-color 1s, color 0.5s;
}

.box_1{
	background-color:#2ECC40;
	
}

.box_1:hover{
	background-color: 	#11502a;
	color:#FFFFFF;
	box-shadow:  1px 1px 3px 3px #000000aa;
}

.box_2{
	background-color:#0074D9;
	
}

.box_2:hover{
	background-color:#001f3f;
	color:#FFFFFF;
	box-shadow:  1px 1px 3px 3px #000000aa;
}

.new_group_form{
	max-width:450px;
	width:100%;
	margin:5px auto 10px auto;
	padding-bottom:20px;
	background-color: #c2dace80;
	border-radius: 5px 5px 0px 0px;
	box-shadow:  1px 1px 2px 2px #000000aa;
}

.new_group_form_title{
	margin: 5px auto 23px auto;
	font-size:2em;
	text-align:center;
	width:100%;
	box-sizing:border-box;
	border-bottom: 2px solid #115511;
	border-radius: 5px 5px 0px 0px;
	background-color: #70bd0066;
	padding: 5px;
}
.new_group_input{
	width:100%;
}
.new_group_input span{
	display:block;
	padding-left:17px;
	padding-right:17px;
	font-size:1.1em;
	margin-bottom:20px;
}
.new_group_input input[type="text"]{
	display:block;
	border-radius:8px;
	padding:6px;
	font-size:1.4em;
	margin:8px auto;
	width:50%;
	max-width:270px;
	box-sizing: border-box;
	text-align: center;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);	
	border: 1px solid black;
	opacity:.8;
}

.new_group_input input[type="text"]:focus{
	box-shadow: 0 0 5px #b6ed66;	
	border: 1px solid #b6ed66;
	opacity:1;
}
.new_group_submit_button{
	padding: 5px;
	margin: 30px auto 10px auto;
	background-color: #70bd0066;
	width:50%;
	max-width:270px;
	box-sizing: border-box;
	text-align:center;
	font-size:1.4em;
	border-radius:8px;
	border:2px solid  #115511;
	transition: background-color 0.4s;
	cursor:pointer;
}


.new_group_submit_button:hover{
	background-color: #b6ed66;
	box-shadow:  1px 1px 2px 2px #000000aa;
}

.email_centered{
text-align: center;
}

/* User panel screen  --- QUESTS */


@media all and (max-width: 500px) {
  .with_quests {
	display: flex;
	flex-flow: row wrap;
    flex-direction: column;
  }
}
@media all and (min-width: 501px) {
  .with_quests {
   display: flex;
	flex-flow: row wrap;	
	justify-content: space-around;
  }
}

.add_quest{
	flex: 1 auto;
	margin:5px;
	padding:10px;
	box-sizing:border-box;
	border: 3px dotted #000c;
	background-color: #5CBF60;
	text-align: center;
	line-height: 137px;
	font-size:1.4em;
	cursor:pointer;
	transition: background-color .4s;
}

.add_quest span{
	 display: inline-block;	 
	 vertical-align: middle;	 
	 line-height: normal;
}

.add_quest:hover{
	background-color: #2AA72F;
}

.quest_form{
	box-sizing: border-box;
}

.new_quest, .a_quest{
	flex: 1 auto;
	margin:5px;
	padding:10px;
	box-sizing:border-box;
	border: 3px dotted #79c32391;
	transition: background-color .3s;

}

.new_quest{
	background-color:#ffeb3b99;
	
}

.new_quest:hover{
	background-color:#ffe81dcc;
	border: 3px dotted #77c61b;
}

.a_quest{
	/*background-color:#efffcc;*/
	background-color:#aadeff99;
}

.a_quest:hover{
	/*background-color:#efffcc;*/
	background-color: #73c7ffcc;
	border: 3px dotted #1d300899;
}

.a_quest:hover .points_quest{
	opacity:0.9;
}

.active_quest{
	cursor:pointer;
}

.done_quest{
	opacity: 0.2;
}

.name_quest{
	font-size: 1.5em;
    border-bottom: 3px dotted #79c32391;
}

.desc_quest{
	margin-top:20px;
	font-size: 1.1em;
	color:#999999;
}
.points_quest{
	margin-top:15px;
	text-align:center;
}
.points_quest span{
	position: relative;
	bottom: -8px;
	color: #D73F17;
	background-color: #FFD800;
	border: 3px dotted #F56F26;
	border-bottom: 3px dotted #79c32391;
	padding:2px 10px 2px 10px;
	font-size:1.5em;
	border-radius:30% 30% 0px 0px;
}

.background_white{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color: #fffffff1;
	z-index: 9998;
}
.confirm_popup{
	display:none;
	background-color:#aadeffef;
	position:fixed;
	width:	60%;
	padding-bottom:10px;
	min-width:		350px;
	max-width:	1000px;
	box-sizing:border-box;
	z-index: 9999;
	border-radius: 100px;
	
}
.succesfull_completion_tick{
	position: absolute;
	background-color:#5CBF60;
	opacity:0;
	width:100%;
	height:100%;
	transition: opacity 1.2s;
	font-size:12em;
	text-align:center;
	z-index: -1;
	border-radius: 100px;
}

.text_popup{
	padding: 10px;
	font-size:1.5em;
}
.text_popup p{
	text-align: center;
}

.text_popup p:nth-of-type(2){
	font-size:1.3em;
}

.answers_box_popup{
	display: flex;
	 justify-content: center;
}

.answer_popup{
	margin:10px;
	cursor: pointer;
	font-size: 2.2em;
	max-width:70px;
	max-height:70px;
	padding: 10px;
	border-radius:50%;
}

.answ_yes{
	background-color: #4CAF50;
}

.answ_no{
	margin-left: 250px;
	background-color: #e91e63;
}

.form_adding_quest{
	width:90%;
	display:block;
	margin: 20px auto;
	padding:10px;
}

.form_adding_quest textarea{
	width:90%;
	height:150px;
	resize:none;
}

.datetime_inputs p{
	max-width:50%;
	display:flex;
}

.datetime_inputs label{
	font-size:1.2em;
	padding:3px;
}
.datetime_inputs input[type="number"]{
	font-size:1.1em;
	width: 54px;
	padding: 3px;
	border:none;
}

.form_adding_quest .login_group span:first-of-type{
	font-size:1.4em;
}

.datetime_inputs p:first-of-type{
	max-width:100%;
}

.form_adding_quest .login_group label{
	font-size:1.2em;
}

.form_adding_quest input[name="quest_points"]{
	font-size:1.4em;
	width: 74px;
	padding: 3px;
	padding-left: 7px;
	border:none;
}

.form_adding_quest #submitbutton{
	width:90%;
	transition: background-color 0.7s;
}

.form_adding_quest #submitbutton:hover{
	background-color:#1b6b1b;
}

.return_button_new_quest span{
	flex: 1 auto;
	margin: 0px 5px;
}
.return_button_new_quest{
	padding:5px 10px;
	background-color: #5ca1b8;
	cursor:pointer;
	margin-bottom:10px;
	margin-left:5px;
	transition: background-color 0.7s;
	font-size:1.8em;
	width:140px;
	border-radius:10px;
	display:flex;
	justify-content: center;
}

.return_button_new_quest:hover{
	background-color:#1d7bcb;
}

/* User panel screen  --- RANKING */
.ranking_position{
	
/*	background-color:#aadeff;*/
	background-color:#aadeff99;
	padding:0px;
	margin-bottom:10px;
	font-size:1.6em;
	border: 3px dotted #025089;
	/*border: 3px dotted #0093fe;*/
	opacity: 0.7;
}

.first_place{
	background-color:#ffca35;
	font-size:2.3em;
	border-color:#e1380b;
}

.second_place{
	background-color:#0e96f9cc;
	font-size:2.0em;
}

.first_place .persons_place{
	border-color:#e1380b;
}


.third_place{
	background-color:#64c0fb;
	font-size:1.7em;
}

.persons_place{
	margin-right:3px;
	padding:8px 13px;
	font-size: 1.7em;	
	border-right: 3px dotted #0055ab;
}

.persons_name{
	margin:8px 10px 5px 5px;
}

.this_user{
	position: relative;
	top: -5px;
	right: -12px;
	opacity: 1;
	box-shadow: -12px 9px 5px grey;
	text-shadow: 0px 0px 2px #02508980, 0px 0px 2px #02508980;
	margin-top: 14px;
	margin-bottom: 14px;
}

.persons_points{
	margin-top:5px;
	margin-bottom:5px;
	margin-right:20px;
}



/* User panel screen  --- VOTE */


.vote_option{
	position:relative;
	top:0px;
	right:0px;
	
	padding-left:10px;
	background-color:#aadeff99;
	cursor:pointer;
	margin-bottom:10px;
	font-size:1.4em;
	transition: top 0.4s, right 0.4s, background-color 0.2s,box-shadow 0.2s ease-in;
}
.vote_option:hover{
	top:-3px;
	right:-8px;
	box-shadow: -7px 5px 4px #11111199;
	background-color:#99cdffff;
}

.vote_option :after{
	clear:both;
}

.vote_option .vote_option_text{
	padding:3px 0px;
}

.vote_option .numbers_of_cases{
	float:right;
	padding-right:10px;
	color: white;
	background-color: #4aabe999;
	padding-left: 10px;
	border-radius: 50% 0px 0px 50%;
}

/* --- VOTE: add/edit... quests*/
.right_container div:first-of-type .title_quests_list{
	margin-top:0px;
}
.title_quests_list{
	display: flex;
	font-size:1.3em;
	padding: 5px;
	background-color: #00aaff;
	border-radius:0px 30px 0px 0px;
	margin-top:30px
}

.title_quests_list:first-of-type{
	margin-top:0px;
}

.a_quest_to_edit{
	display: flex;
	flex-flow: row;	
	justify-content: space-around;
	margin:5px;
	background-color:#aadeff99;
	font-size:1.3em;
	position:relative;
	top:0px;
	right:0px;
	padding:3px;
	padding-left:10px;
	transition: top 0.4s, right 0.4s, background-color 0.2s;
}

.a_quest_to_edit:hover{
	cursor:pointer;
	top:-3px;
	right:-8px;
	box-shadow: -7px 5px 4px #11111199;
	background-color:#99cdffff;
}

.a_quest_to_edit .name_quest{
	flex: 1 auto;
	padding:3px;
	font-size: 1em;
	border: none;
}

.a_quest_to_edit .desc_quest{
	margin-top: 0px;
	font-size: 0.7em;
	color: #666666cf;
	flex: 1 auto;
	padding:3px;
}
.a_quest_to_edit .points_quest{
	flex: 1 auto;
	padding:3px;
	margin-top: 0px;
	margin-right: 7px;
	text-align: right;
}
.a_quest_to_edit .points_quest span{
	padding:3px;
	color: black;
	background-color: inherit;
	border: none;
	font-size: 1em;
	border-radius: 0%;
	min-width:100px;
}

.grey_color{
	background-color: #b8c1c5;
}

.grey_color_title{
	background-color: #707f86;;
}

.voting_popup{
	display:none;
	position:fixed;
	opacity:0;
	transition: opacity 0.5s;
	background-color: #a3bfffcc;
	z-index: 9999;
	border-radius: 20px;
	padding: 20px;
	font-size:18px;
	width:70%;
	padding-left:30px;
}


.voting_popup .popup_title{
	font-size:24px;
}
.voting_popup .popup_q_info{
	width:100%;
}
.voting_popup .popup_q_info span{
	font-size:18px;
	margin-right: 40px;
	color: black;
	min-width:246.5px;
}

.voting_popup .popup_q_info span:nth-of-type(2){
	color: #073819;
}

.voting_popup .popup_q_info .name_quest{
	border:none;
	margin-top:10px;	
}
.voting_popup .popup_q_info .desc_quest{
	border:none;
	margin-top:10px;
	color:inherit;
	font-size:1.2em;
}

.voting_popup .popup_q_info .renewable_period{
	border:none;
	margin-top:10px;
	font-size:1.2em;
}

.voting_popup .popup_q_info .points_quest{
	border:none;
	margin-top:10px;
	font-size:1.2em;
	text-align:inherit;
}
.voting_popup .popup_q_info .points_quest span{
	border:none;
	margin-top:10px;
	position:inherit;
	background-color:inherit;
	padding:0px;
	border-radius:0px;
}

.voting_popup .voting_popup .answers_box_popup{
	margin-top:30px;
}

.user_voted_yes{
		background-color:#73b97680;
}

.user_voted_no{
	background-color: #ef5c5c4d;
}

.voting_page_edit_form{
	display:none;
	position:fixed;
	margin:0px;
	padding:40px;
	z-index:9998;
}

.voting_page_return_button{
	margin:10px;
	z-index:9999;
}

.delete_button{
	display:none;
	position:fixed;
	background-color: #f57560;
	top:10px;
	right:10px;
	z-index:9999;
	padding:10px;
	font-size:1.8em;
	cursor: pointer;
	transition: background-color 0.7s;
	border-radius: 10px;
}


.delete_button:hover{
	background-color: #d83a20;;
}

/* --- VOTE: submit incomers -------------------------------------------------------------------*/


.an_incomer{
	display: flex;
	flex-flow: row;	
	justify-content: space-around;
	margin:5px;
	background-color:#aadeff99;
	font-size:1.3em;
	position:relative;
	top:0px;
	right:0px;
	padding:3px;
	padding-left:10px;
	transition: top 0.4s, right 0.4s, background-color 0.2s;
}

.an_incomer:hover{
	cursor:pointer;
	top:-3px;
	right:-8px;
	box-shadow: -7px 5px 4px #11111199;
	background-color:#99cdffff;
}

.an_incomer_name{
	flex: 1 auto;
	padding:3px;
	padding-left:6px;
}

.an_incomer_email{
	flex: 1 auto;
	padding:3px;
	padding-left:6px;
}

.a_list_of_incomers{
	padding:30px;
	font-size:2em;
	color: #000000af;
}

/* User panel screen  --- SETTINGS */



/* END OF User panel screen */

/* Footer */

.footer { 
	background: #5f5f5f; 
	color: #ffffff; 
	padding: 45px ; 
	margin-top: 45px;
	text-align:center; 
	font-size: 1.7em;
	margin-bottom:100px;
}